<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quintype</title>
</head>
<body>
  <div class="container">
      <div class="box-wrapper">
          <div class="item-1" id="item-1"></div>
          <div class="item-2" id="item-2"></div>
          <div class="item-3" id="item-3"></div>
          <div class="item-4" id="item-4"></div>
          <div class="item-5" id="item-5"></div>
          <div class="item-6" id="item-6"></div>
          <div class="item-7" id="item-7"></div>
          <div class="item-8" id="item-8"></div>
          <div class="item-9" id="item-9"></div>
          <div class="item-10" id="item-10"></div>
          <div class="item-11" id="item-11"></div>
          <div class="item-12" id="item-12"></div>
          <div class="item-13" id="item-13"></div>
          <div class="item-14" id="item-14"></div>
          <div class="item-15" id="item-15"></div>
          <div class="item-16" id="item-16"></div>
          <div class="item-17" id="item-17"></div>
          <div class="item-18" id="item-18"></div>
          <div class="item-19" id="item-19"></div>
          <div class="item-20" id="item-20"></div>
          <div class="item-21" id="item-21"></div>
          <div class="item-22" id="item-22"></div>
          <div class="item-23" id="item-23"></div>
          <div class="item-24" id="item-24"></div>
          <div class="item-25" id="item-25"></div>
          <div class="item-26" id="item-26"></div>
          <div class="item-27" id="item-27"></div>
          <div class="item-28" id="item-28"></div>
          <div class="item-29" id="item-29"></div>
          <div class="item-30" id="item-30"></div>
          <div class="item-31" id="item-31"></div>
          <div class="item-32" id="item-32"></div>
          <div class="item-33" id="item-33"></div>
          <div class="item-34" id="item-34"></div>
          <div class="item-35" id="item-35"></div>
          <div class="item-36" id="item-36"></div>
          <div class="item-37" id="item-37"></div>
          <div class="item-38" id="item-38"></div>
          <div class="item-39" id="item-39"></div>
          <div class="item-40" id="item-40"></div>
          <div class="item-41" id="item-41"></div>
          <div class="item-42" id="item-42"></div>
          <div class="item-43" id="item-43"></div>
          <div class="item-44" id="item-44"></div>
          <div class="item-45" id="item-45"></div>
          <div class="item-46" id="item-46"></div>
          <div class="item-47" id="item-47"></div>
          <div class="item-48" id="item-48"></div>
          <div class="item-49" id="item-49"></div>
          <div class="item-50" id="item-50"></div>
          <div class="item-51" id="item-51"></div>
          <div class="item-52" id="item-52"></div>
          <div class="item-53" id="item-53"></div>
          <div class="item-54" id="item-54"></div>
          <div class="item-55" id="item-55"></div>
          <div class="item-56" id="item-56"></div>
          <div class="item-57" id="item-57"></div>
          <div class="item-58" id="item-58"></div>
          <div class="item-59" id="item-59"></div>
          <div class="item-60" id="item-60"></div>
          <div class="item-61" id="item-61"></div>
          <div class="item-62" id="item-62"></div>
          <div class="item-63" id="item-63"></div>
          <div class="item-64" id="item-64"></div>
      </div>
  </div>
</body>
</html>